services:
  gerador:
    image: juanbs/gerador-senha:1.0
    ports:
      - "8080:80"
    networks:
      - giropops
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    networks:
      - giropops

networks:
  giropops:
    driver: bridge