version: "3.8"

services:
  nodeapp:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VERSION=1.2.0
    container_name: nodejs-compose
    environment:
        - PORT=3000
    ports:
      - "3000:3000"

  flaskapp:
    build:
      context: .
      dockerfile: Dockerfile.python
    container_name: flask-compose
    ports:
      - "5000:5000"
    depends_on:
      - nodeapp