services:

  ghost:
    image: ghost:4-alpine
    ports:
      - 8080:2368
    environment:
      # see https://ghost.org/docs/config/#configuration-options
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: example
      database__connection__database: ghost
      # this url value is just an example, and is likely wrong for your environment!
      # url: http://localhost:8080
      # contrary to the default mentioned in the linked documentation, this image defaults to NODE_ENV=production (so development mode needs to be explicitly specified if desired)
      #NODE_ENV: development
    entrypoint: [ "wait-for-it.sh", "db:3306", "--timeout=300", "--", "docker-entrypoint.sh" ]
    command: [ "node", "current/index.js" ]
    networks:
      - public
      - private
    volumes:
      - "ghost:/bitnami/ghost"
      #- ghost:/var/lib/ghost/content
    depends_on:
      - db
    deploy:
      replicas: 1

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: example
    networks:
      - private
    volumes:
      - db:/var/lib/mysql
    deploy:
      replicas: 1

volumes:
  ghost:
  db:

networks:
  public:
  private: